<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Endereco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <form >
    <ion-item>
      <ion-label position="floating">CEP</ion-label>
      <ion-input formControlName="cep"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" min-length="11">Logradouro</ion-label>
      <ion-input formControlName="longradouro"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input formControlName="telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Número</ion-label>
      <ion-input type="number" formControlName="numero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Complemento</ion-label>
      <ion-input type="text" formControlName="complemento"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input type="text" formControlName="Bairro"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input type="text" formControlName="cidade"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">UF</ion-label>
      <ion-input type="text" formControlName="uf"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Tipo de Endereço</ion-label>
      <ion-input type="text" formControlName="tipo"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" class="ion-margin" style="margin-top: 100px;">Salvar e
      continuar</ion-button>
  </form>

</ion-content>