<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Editar Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="salvar()">

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nível</ion-label>
      <ion-select formControlName="nivel">
        <ion-select-option *ngFor="let n of niveis" value="{{n.id}}">{{n.id + '- + n.nome'}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Atualizar
    </ion-button>

  </form>

  <ion-tabs #tabs>
    <ion-tab tab="home">
      <div id="home-page" class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>home</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-tab>
    <ion-tab tab="search">
      <div id="search-page" class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Search</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="example-content">Search content</div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>