<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;"> Gestão de Pedidos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button><ion-icon name="arrow-back-sharp"></ion-icon></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-app>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Fazer Pedido</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">

      <ion-card>
        <ion-card-header>
          <ion-card-title>Dados do Pedido</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-item>
            <ion-label position="floating">Nome do Cliente</ion-label>
            <ion-input id="cliente"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Produto</ion-label>
            <ion-input id="produto"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Quantidade</ion-label>
            <ion-input id="quantidade" type="number"></ion-input>
          </ion-item>
          <ion-button (click)="excluirPedido()">
            Excluir Pedido
          </ion-button>

          <ion-button (click)="salvarPedido()">
            Salvar Pedido
          </ion-button>

        </ion-card-content>
      </ion-card>

    </ion-content>
  </ion-app>
</ion-content>