:root {
	--ion-color-primary: #ffffff;
	--ion-color-primary-rgb: 255,255,255;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e0e0e0;
	--ion-color-primary-tint: #ffffff;

	--ion-color-secondary: #000000;
	--ion-color-secondary-rgb: 0,0,0;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #000000;
	--ion-color-secondary-tint: #1a1a1a;

	--ion-color-tertiary: #0d0d0d;
	--ion-color-tertiary-rgb: 13,13,13;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #0b0b0b;
	--ion-color-tertiary-tint: #252525;

	--ion-color-success: #000000;
	--ion-color-success-rgb: 0,0,0;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #000000;
	--ion-color-success-tint: #1a1a1a;

	--ion-color-warning: #e6b000;
	--ion-color-warning-rgb: 230,176,0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #ca9b00;
	--ion-color-warning-tint: #e9b81a;

	--ion-color-danger: #ff0015;
	--ion-color-danger-rgb: 255,0,21;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #e00012;
	--ion-color-danger-tint: #ff1a2c;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

	--ion-color-medium: #000000;
	--ion-color-medium-rgb: 0,0,0;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #000000;
	--ion-color-medium-tint: #1a1a1a;

	--ion-color-dark: #000000;
	--ion-color-dark-rgb: 0,0,0;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1a1a1a;

}