<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Editar Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form>

    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="tel" formControlName="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de Nascimento</ion-label>
    </ion-item>

    <ion-button expand="block" type="submit">
      Atualizar
    </ion-button>

  </form>

  <ion-tabs #tabs>
    <ion-tab tab="home">
      <div id="home-page" class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>home</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-tab>
    <ion-tab tab="search">
      <div id="search-page" class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Search</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="example-content">Search content</div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>