<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Novo Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <form [formGroup]="form" (ngSubmit)="salvar()">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input formControlName="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" min-length="11">CPF</ion-label>
      <ion-input formControlName="cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input formControlName="telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-input type="date" formControlName="datanasc"></ion-input>
    </ion-item>
    <ion-content class="ion-padding">
      <ion-fab slot="fixed" vertical="top" horizontal="start">
        <ion-fab-button>
          <ion-icon name="chevron-forward-circle"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="end">
          <ion-button routerLink="/endereco">
            <ion-icon name="home"></ion-icon>
          </ion-button>
        </ion-fab-list>
      </ion-fab>
    </ion-content>
    <ion-button expand="block" type="submit" class="ion-margin" style="margin-top: 100px;">Salvar e
      continuar</ion-button>
  </form>


  <ion-tabs #tabs>
    <ion-tab tab="home">
      <div id="home-page" class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>home</ion-title>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-tab>
    <ion-tab tab="search">
      <div id="search-page" class="ion-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Search</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="example-content">Search content</div>
        </ion-content>
      </div>
    </ion-tab>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        Search
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>