<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema Comercial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Sair</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list style="background-color: white;">
    <ion-item routerLink="/usuario-add">Cadastrar Usuário</ion-item>
    <ion-item routerLink="/usuario-list">Listar Usuário</ion-item>
    <ion-item routerLink="/cliente-list">Clientes</ion-item>
    <ion-item routerLink="/produto-list">Produtos</ion-item>
    <ion-item routerLink="/pedido-list">Pedidos</ion-item>
    <ion-item routerLink="/dashboardionic">DashBoard</ion-item>
  </ion-list>


</ion-content>

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard de Usuários</ion-title>
  </ion-toolbar>
</ion-header>

