<ion-header [translucent]="true" style="background-color: white;">
  <ion-toolbar style="background-color: white;">
    <ion-title>
      Sistema Comercial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="person"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="cursor: pointer; font-size: 18px; border-radius: 8px;">
    <ion-item routerLink="/usuario-add">Cadastrar Usuário</ion-item>
    <ion-item routerLink="/usuario-list">Listar Usuário</ion-item>
    <ion-item routerLink="/cliente-list">Clientes</ion-item>
    <ion-item routerLink="/produto-list">Produtos</ion-item>
    <ion-item routerLink="/pedidos">Pedidos</ion-item>
  </ion-list>



</ion-content>