<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistema Comercial
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item routerLink="/usuario-add">Cadastrar Usuário</ion-item>
    <ion-item routerLink="/usuario-list">Listar Usuário</ion-item>
    <ion-item routerLink="/cliente">Clientes</ion-item>
    <ion-item routerLink="/produtos">Produtos</ion-item>
    <ion-item routerLink="/pedidos">Pedidos</ion-item>
  </ion-list>
</ion-content>













<!-- <ion-content>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Controle de Pedidos
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-card>
      <ion-header>
        <ion-card-title *ngIf="pedido">Pedido {{pedido.id}}</ion-card-title>
        <ion-card-subtitle> Dados </ion-card-subtitle>
      </ion-header>
      <ion-card-content>
        <p><strong>Usuario:</strong>{{pedido.usuario_id }}</p>
        <p><strong>Cliente:</strong>{{pedido.cliente_id }}</p>
        <p><strong>Data:</strong>{{pedido.data }}</p>
        <p><strong>Status:</strong>{{pedido.status }}</p>
        <p><strong>Desconto:</strong>{{pedido.desconto }}</p>
      </ion-card-content>
    </ion-card>
    <div>
      <p (click)="Listarpedidos()">Listar Pedidos</p>
    </div>
  </div>
</ion-content> -->